body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

header, footer {
  text-align: center;
  color: blue;
  height: 75px;
}

.horizontalFlex {
  display: flex;
  flex-direction: row;
}

.verticalFlex {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* li {
  margin-bottom: 20px;
  margin-top: 20px;
} */

#mainContainer {
  height: 600px;
  margin-left: 5px;
  margin-right: 5px;
}

#instructionsContainer {
  width: 300px;
  background-color: moccasin;
  border: 1px solid black;
  height: 600px;
  margin-left: 5px;
  margin-right: 5px;
}

#rightContainer {
  width: 400px;
  height: 600px;
  margin-left: 5px;
  margin-right: 5px;
}

#selectWorldlineContainer {
  background-color: moccasin;
  border: 1px solid black;
  height: 48%;
  margin-bottom: 10px;
  align-items: center;
}

#minkowskiContainer {
  height: 48%;
  margin-top: 5px;
  background-color: moccasin;
  border: 1px solid black;
}

#drawingCanvas {
  padding: 0;
  margin: 0;
  border: 1px solid black;
  width: 600px;
  height: 600px;
}

#yAxisLabel {
  width: 10px;
  margin-right: 10px;
  writing-mode: vertical-rl; /* Vertical writing mode, rotate text 90 degrees clockwise */
  transform: rotate(-180deg);
  
}

#xAxisLabel {
  height: 10px;
  margin-top: 5px;
}

.axisLabel {
  text-align: center;
  color: black;
  size: 12;
}

#toolbar {
  border: 1px solid black;
  height: 50px;
  margin: 30px;
  background-color: moccasin;
  justify-content: space-around;
}

.centeredText {
  text-align: center;
  justify-self: center;
  align-self: center;
  vertical-align: center;
}

/* .worldline-radio-input {
  display: none;
} */

.worldline-1-radio-container {
  background-color: rgb(68, 117, 248);
  color: white;
}

.worldline-2-radio-container {
  background-color: rgb(124, 51, 255);
  color: white;
}

.worldline-3-radio-container {
  background-color: rgb(36, 142, 35);
  color: white;
}


/* Custom styled radio button container */
.worldline-radio-container {
  width: 80%;
  display: inline-block;
  position: relative;
  cursor: pointer;
  padding: 10px 20px;
  margin-right: 15px;
  border: 2px solid transparent;
  border-radius: 8px;
  transition: background-color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
}

/* Styled rectangle representing the radio button */
.worldline-radio-container:hover {
  border-color: black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Label styles */
.radio-label {
  font-size: 16px;
  color: #333;
}

.option {
  background-color: white;
  border: 1px solid black;
  margin: 5px;
}

.rectangular-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

/* Hover effect */
.rectangular-button:hover {
  background-color: #0056b3;
}

#clearButton {
  background-color: red;
  width: 300px;
}

#statsContainer {
  justify-content: space-around;
}

#worldline1StatsContainer {
  color: rgb(68, 117, 248);
}

#worldline2StatsContainer {
  color: rgb(124, 51, 255);
}

#worldline3StatsContainer {
  color: rgb(36, 142, 35);
}

.worldlineYears {
  font-size: 50px;
  margin: 0;
}

